#  Python for Machine Learning Series

This tutorial marks the beginning of a series focused on introducing programming concepts through practical, code-driven lessons using the Python language. Emphasizing a hands-on approach, learners are encouraged to actively engage with the material by executing code and experimenting with examples for an effective learning experience.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Students.csv")

In [6]:
df.iloc[:,2:]

,Name,Age,Grade,GPA,Graduated,Enrollment Date,Email,Phone Number,Country
0,Amit Kumar,21,D,2.50,False,2021-10-07,amit@example.com,254803,India
1,Rajesh Singh,20,B,3.20,True,2022-10-25,rajesh@example.com,257067,India
2,Sunil Joshi,23,D,3.16,True,2021-08-03,sunil@example.com,251665,India
3,Bob Brown,23,C,3.12,True,2020-12-08,bob@example.com,252291,US
4,Anjali Mehta,19,A,3.76,True,2022-11-18,anjali@example.com,257167,India
5,Akiko Yoshida,19,A,3.21,False,2022-11-24,akiko@example.com,251188,Japan
6,Yuki Watanabe,21,F,3.50,True,2020-12-10,yuki@example.com,254920,Japan
7,Alice Johnson,25,F,3.50,True,2022-09-13,alice@example.com,254530,US
8,Meera Patel,24,C,2.54,True,2022-02-07,meera@example.com,257987,India
9,Vikram Choudhary,22,D,3.01,True,2020-06-16,vikram@example.com,256150,India
10,Carol Davis,25,C,3.29,True,2020-07-27,carol@example.com,251637,US
11,Sita Devi,18,F,3.22,False,2021-05-13,sita@example.com,256652,India
12,Hank Lee,19,D,2.17,True,2021-05-16,hank@example.com,256076,US
13,Frank Moore,20,F,3.46,True,2020-09-27,frank@example.com,251574,US
14,Miyu Yamamoto,25,C,3.50,False,2022-11-17,miyu@example.com,255395,Japan
15,Eve Wilson,19,F,2.70,False,2020-11-23,eve@example.com,251102,US
16,Hanako Suzuki,22,A,2.99,True,2021-09-25,hanako@example.com,257222,Japan
17,Rina Kato,25,D,2.07,False,2022-02-15,rina@example.com,253994,Japan
18,Satoshi Sato,22,B,3.41,True,2021-01-12,satoshi@example.com,256752,Japan
19,John Doe,18,F,2.87,False,2020-10-06,john@example.com,251511,US
20,Pooja Sharma,24,A,2.12,True,2021-02-09,pooja@example.com,254858,India
21,Neha Verma,24,C,3.67,True,2020-03-15,neha@example.com,254415,India
22,Taro Yamada,18,F,2.73,True,2022-08-25,taro@example.com,254923,Japan
23,Koji Nakamura,22,F,3.85,False,2021-03-07,koji@example.com,259560,Japan
24,Hiroshi Ito,24,C,3.07,False,2020-12-17,hiroshi@example.com,256051,Japan
25,Jane Smith,25,F,2.76,True,2020-08-01,jane@example.com,256436,US
26,Kenta Tanaka,23,F,2.65,True,2022-11-11,kenta@example.com,256600,Japan
27,Dave Miller,18,C,2.25,True,2020-01-16,dave@example.com,252794,US
28,Anil Gupta,19,C,3.02,False,2022-03-19,anil@example.com,255333,India
29,Grace Taylor,19,F,2.84,False,2021-12-25,grace@example.com,256470,US

# START HERE

The tutorial covers: 
* Variables
* Primitive Data types - int, string, float, complex, bool
* Methods for Primitive Data Types

## Comments

* To make a comment use #

* Docstring  *""" This is used to write multi-line comment """*

In [7]:
""" This is multi-line comment
More lines can be written to make multiple comments"""

' This is multi-line comment\nMore lines can be written to make multiple comments'

## Variables
* Storing information and executing operations on stored data are fundamental functions of computers.
* In programming, particularly with Python, we utilize variables as containers to **store data**. 
* Each variable holds a **specific value**, and creating variables in Python is a straightforward process, as demonstrated in our previous tutorial.

* Creating a variable involves an assignment statement. This statement starts with the variable's name, followed by the assignment operator = (distinct from the equality comparison operator ==), and concludes with the value intended for storage within the variable.

In [ ]:
gpa = 10

* Multiple values can be assigned at same time

In [7]:
amit_gpa,bob_gpa,alice_gpa = 2.5,3.2,3.7

In [8]:
amit_gpa,bob_gpa,alice_gpa

(2.5, 3.2, 3.7)

* Change the value of variable

In [9]:
amit_gpa = 3.5

In [10]:
amit_gpa

3.5

* While assigning a new value to a variable, you can also use the previous value of the variable to determine the new value.

In [12]:
amit_gpa =amit_gpa + 0.5
amit_gpa

4.5

### Rules to define varaible
* *Can use lower/upper case alphabets*
* *Can use digits(0-9)*
* *Can use underscore (_)*
* Cannot use reserved keywords in python

In [ ]:
$age = 20 # Wrong

In [ ]:
age_1 = 2 # Correct

In [6]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [1]:
lambda = 20
print(lambda )

SyntaxError: invalid syntax (3723558046.py, line 1)

## Data Types

Python has several built-in data types for storing different types of information in variables. Following are at some commonly used data types:

1. Integer
2. Float
3. Boolean
4. None
5. String
6. List
7. Tuple
8. Dictionary
* **Integer, float, boolean, None and string are primitive data types because they represent a single value. Other data types like list, tuple and dictionary are often called data structures or containers because they hold multiple pieces of data together.**

## INT

* Definition: Integer is a data type that represents whole numbers without any decimal points.

In [ ]:
# Step 1 -- Representation of INT
# Step 2 -- Operations using INT

In [14]:
amit_age = 21

In [15]:
type(amit_age)

int

In [16]:
bob_age = int(input("Enter age: "))

Enter age: 21

In [17]:
bob_age

21

In [18]:
temp = -10

In [19]:
type(temp)

int


* In Python, there isn't a specific data type called "short integer" as in some other programming languages. Python automatically handles integer size based on the value.

* Similarly, Python doesn't have a distinct "long integer" data type. The standard integer type in Python can handle arbitrarily large values.

* Unsigned Integer:

* In Python, all integers are signed, meaning they can represent positive and negative values.
* However, you can use the abs() function to obtain the absolute (unsigned) value of an integer.

In [20]:
# Can I use operators with int ---> YES
amit_age = 20
bob_age = 23
total = amit_age + bob_age
total

43

In [ ]:
# All Comparision operators can be used with integers ==, !=,>,< >=,<=

In [ ]:
# We can represent "int" variable in differnt FORMS

# Decimal form Base-10
# Allowed Digits 0 - 9
year = 2023

In [13]:
# Binary form Base-2
# Allowed digits 0 and 1

b = 0b1010

In [14]:
b

10

## Float
* Definition: Float (floating-point) is a data type that represents real numbers with decimal points or exponential notation.

In [ ]:
# Step 1 -- Representation of FLOAT
# Step 2 -- Operations using FLOAT

In [15]:
gpa = 3.5

In [ ]:
pi = 3.14

In [16]:
# We can also use exponential form
#Advantage -- Large numbers in compact form
f = 7.6e2
f

760.0

In [17]:
t = 10e10

In [18]:
t

100000000000.0

In [ ]:
# All Comparision operators can be used with integers ==, !=,>,< >=,<=

In [24]:
7.2 > 8.9

False

In [ ]:
# Lets say i want to design an application that will input the age and age should be integer like 21 years and not 21.5 years.
# Even if user enters 21.5 I need to conver it into 21

## Typecasting
* Convert from one data type to another

In [27]:
alice_age = 21.2

In [28]:
int(alice_age)

21

In [13]:
#Convert float to int
gpa = 3.72 
int(gpa)

3

In [ ]:
# Reverse int to float

In [23]:
# Convert int to float
float(2222)

2222.0

In [ ]:
# What happens when we do arithmatic operations on different data types

In [25]:
# When performing arithmetic, integers become floats if any operand is a float.
mul = 2 * 2.0
mul

4.0

In [28]:
# The division operator (/) always gives a float result, even with integer operands.

div = 22/3
div

7.333333333333333

In [29]:
# To get an integer result from division, use the // operator instead.
22//3

7

## None
* The None type includes a single value None, used to indicate the absence of a value. None has the type NoneType. It is often used to declare a variable whose value may be assigned later

In [87]:
var = None
type(var)

NoneType

## BOOL
* Bool data type assumes only 2 values True and False

In [29]:
graduated = True
graduated

True

In [ ]:
# Convert other data type to bool

In [ ]:
# For Boolean 0 is false and other than zero its TRUE

In [30]:
bool(1.2)

True

In [33]:
bool(0)

False

In [ ]:
# Bool value of : 0, NULL, empty lists, tuples, dictionaries, etc. is FALSE

In [82]:
bool(None)

False

In [83]:
bool(0)

False

In [84]:
bool([])

False

## String

* A string is a sequence of characters enclosed within single or double quotes.

In [ ]:
# Representation of Strings

In [31]:
i = "Alice"
i

'Alice'

In [32]:
i = 'Alice'
i

'Alice'

In [33]:
i = "Alice studies AI "
i

'Alice studies AI '

In [37]:
#Multiline
multi_line = """Alice studies AI
Bob also studies AI """

In [38]:
print(multi_line)

Alice studies AI
Bob also studies AI

In [36]:
# The backslash () is used as an escape character to include special characters in a string.

# string = 'Hello, I\'m a string with a single quote.'

In [37]:
string

"Hello, I'm a string with a single quote."

In [39]:
# The \n escape sequence represents a newline character, creating a line break.


d = "Alice studies AI.\nBob also studies AI."
print(d)

Alice studies AI.
Bob also studies AI.

#### String slicing -- Data Extraction

In [ ]:
# Task : We are looking for students whose name starts with A

In [41]:
student_one = "Alice"
student_two = "Amit"
student_three = "Bob"

In [42]:
student_one

'Alice'

In [43]:
print(student_one[0])  # prints 1st element

A

In [44]:
print(student_two[0])

A

In [ ]:
# Task : We are looking for students whose name ends with e

In [45]:
print(student_one[-1])  # prints last element

e

In [ ]:
# What if I want to print n elemnts of name and n > 1
# n = 3

In [46]:
print(student_one[0:3])  # prints range of values 0 to 3

Ali

In [47]:
print(student_one[:])  # prints all elements

Alice

In [ ]:
# Task : I have first name and last name. How to display both names together?
# There are 3 methods
# First use + 
# Use .join
# use f string

In [53]:
#### String Concantenation
first_name = input("Enter first name")
last_name = input("Enter last name")

Enter first nameSteve
Enter last nameSmith

In [65]:
print("The complete name is :",first_name + last_name)

The complete name is : SteveSmith

In [66]:
print("The complete name is :",first_name +  " " +  last_name)

The complete name is : Steve Smith

In [64]:
# Use join
print("The complete name is :", " ".join([first_name, last_name]))

The complete name is : Steve Smith

In [58]:
print(" -- ".join([first_name, last_name]))

Steve -- Smith

In [ ]:
# In gmail, if your email is alice@gmail.com then you only enter abc and then it takes to password page

In [59]:
name = input("Enter the name: ")

Enter the name: alice

In [60]:
domain = "gmail.com"

In [63]:
print("Your email id is","@".join([name, domain]) )

Your email id is alice@gmail.com

In [68]:
# Use f string 3
print(f"The complete name is {first_name} {last_name}")

The complete name is Steve @Smith

In [69]:
print(f"The email id is {name}@{domain}")

The email id is alice@gmail.com

#### String Methods

In [ ]:
# # Method	Description
# capitalize()	Converts the first character to upper case
# casefold()	Converts string into lower case
# center()	Returns a centered string
# count()	Returns the number of times a specified value occurs in a string
# encode()	Returns an encoded version of the string
# endswith()	Returns true if the string ends with the specified value
# expandtabs()	Sets the tab size of the string
# find()	Searches the string for a specified value and returns the position of where it was found
# format()	Formats specified values in a string
# format_map()	Formats specified values in a string
# index()	Searches the string for a specified value and returns the position of where it was found
# isalnum()	Returns True if all characters in the string are alphanumeric
# isalpha()	Returns True if all characters in the string are in the alphabet
# isascii()	Returns True if all characters in the string are ascii characters
# isdecimal()	Returns True if all characters in the string are decimals
# isdigit()	Returns True if all characters in the string are digits
# isidentifier()	Returns True if the string is an identifier
# islower()	Returns True if all characters in the string are lower case
# isnumeric()	Returns True if all characters in the string are numeric
# isprintable()	Returns True if all characters in the string are printable
# isspace()	Returns True if all characters in the string are whitespaces
# istitle()	Returns True if the string follows the rules of a title
# isupper()	Returns True if all characters in the string are upper case
# join()	Converts the elements of an iterable into a string
# ljust()	Returns a left justified version of the string
# lower()	Converts a string into lower case
# lstrip()	Returns a left trim version of the string
# maketrans()	Returns a translation table to be used in translations
# partition()	Returns a tuple where the string is parted into three parts
# replace()	Returns a string where a specified value is replaced with a specified value
# rfind()	Searches the string for a specified value and returns the last position of where it was found
# rindex()	Searches the string for a specified value and returns the last position of where it was found
# rjust()	Returns a right justified version of the string
# rpartition()	Returns a tuple where the string is parted into three parts
# rsplit()	Splits the string at the specified separator, and returns a list
# rstrip()	Returns a right trim version of the string
# split()	Splits the string at the specified separator, and returns a list
# splitlines()	Splits the string at line breaks and returns a list
# startswith()	Returns true if the string starts with the specified value
# strip()	Returns a trimmed version of the string
# swapcase()	Swaps cases, lower case becomes upper case and vice versa
# title()	Converts the first character of each word to upper case
# translate()	Returns a translated string
# upper()	Converts a string into upper case
# zfill()	Fills the string with a specified number of 0 values at the beginning

In [70]:
string = "Bob is a student from USA and his student id is S001"

In [71]:
print(string.upper())

BOB IS A STUDENT FROM USA AND HIS STUDENT ID IS S001

In [72]:
print(string.lower())

bob is a student from usa and his student id is s001

In [75]:
string = "bob is a student from USA and his student id is S001"

In [76]:
print(string.capitalize())

Bob is a student from usa and his student id is s001

In [77]:
print(string.count('e'))

2

In [78]:
print(string.split())

['bob', 'is', 'a', 'student', 'from', 'USA', 'and', 'his', 'student', 'id', 'is', 'S001']

In [79]:
string = "    bob is a student from USA and his student id is S001    "

In [80]:
print(string.strip())

bob is a student from USA and his student id is S001

In [81]:
string.title()

'    Bob Is A Student From Usa And His Student Id Is S001    '

In [77]:
# # Joining of string 
# string1 = "The value of pi is : "
# pi = 3.14

In [78]:
# string1 + pi

TypeError: can only concatenate str (not "float") to str

In [79]:
# string1 + str(pi)

'The value of pi is : 3.14'

### We have looked at primitive data types : int, float, None, Bool, String

### Excercises
**"Complete the exercises covering string, float, bool, int, and None data types.
Practice Practice and Practice. That's the secret to master Python and ML"**