#  Python for Machine Learning Series

This tutorial marks the beginning of a series focused on introducing programming concepts through practical, code-driven lessons using the Python language. Emphasizing a hands-on approach, learners are encouraged to actively engage with the material by executing code and experimenting with examples for an effective learning experience.

In [1]:
import pandas as pd
df = pd.read_csv("Students.csv")
df.iloc[:,2:]

,Name,Age,Grade,GPA,Graduated,Enrollment Date,Email,Phone Number,Country
0,Amit Kumar,21,D,2.50,False,2021-10-07,amit@example.com,254803,India
1,Rajesh Singh,20,B,3.20,True,2022-10-25,rajesh@example.com,257067,India
2,Sunil Joshi,23,D,3.16,True,2021-08-03,sunil@example.com,251665,India
3,Bob Brown,23,C,3.12,True,2020-12-08,bob@example.com,252291,US
4,Anjali Mehta,19,A,3.76,True,2022-11-18,anjali@example.com,257167,India
5,Akiko Yoshida,19,A,3.21,False,2022-11-24,akiko@example.com,251188,Japan
6,Yuki Watanabe,21,F,3.50,True,2020-12-10,yuki@example.com,254920,Japan
7,Alice Johnson,25,F,3.50,True,2022-09-13,alice@example.com,254530,US
8,Meera Patel,24,C,2.54,True,2022-02-07,meera@example.com,257987,India
9,Vikram Choudhary,22,D,3.01,True,2020-06-16,vikram@example.com,256150,India
10,Carol Davis,25,C,3.29,True,2020-07-27,carol@example.com,251637,US
11,Sita Devi,18,F,3.22,False,2021-05-13,sita@example.com,256652,India
12,Hank Lee,19,D,2.17,True,2021-05-16,hank@example.com,256076,US
13,Frank Moore,20,F,3.46,True,2020-09-27,frank@example.com,251574,US
14,Miyu Yamamoto,25,C,3.50,False,2022-11-17,miyu@example.com,255395,Japan
15,Eve Wilson,19,F,2.70,False,2020-11-23,eve@example.com,251102,US
16,Hanako Suzuki,22,A,2.99,True,2021-09-25,hanako@example.com,257222,Japan
17,Rina Kato,25,D,2.07,False,2022-02-15,rina@example.com,253994,Japan
18,Satoshi Sato,22,B,3.41,True,2021-01-12,satoshi@example.com,256752,Japan
19,John Doe,18,F,2.87,False,2020-10-06,john@example.com,251511,US
20,Pooja Sharma,24,A,2.12,True,2021-02-09,pooja@example.com,254858,India
21,Neha Verma,24,C,3.67,True,2020-03-15,neha@example.com,254415,India
22,Taro Yamada,18,F,2.73,True,2022-08-25,taro@example.com,254923,Japan
23,Koji Nakamura,22,F,3.85,False,2021-03-07,koji@example.com,259560,Japan
24,Hiroshi Ito,24,C,3.07,False,2020-12-17,hiroshi@example.com,256051,Japan
25,Jane Smith,25,F,2.76,True,2020-08-01,jane@example.com,256436,US
26,Kenta Tanaka,23,F,2.65,True,2022-11-11,kenta@example.com,256600,Japan
27,Dave Miller,18,C,2.25,True,2020-01-16,dave@example.com,252794,US
28,Anil Gupta,19,C,3.02,False,2022-03-19,anil@example.com,255333,India
29,Grace Taylor,19,F,2.84,False,2021-12-25,grace@example.com,256470,US

---------------------------------------------------------------------------------------------

This tutorial covers : 
* Container Data Types - lists, tuples, dictionaries, sets
* Methods for Container Data Types 
* Practice problems

In [ ]:
# I want to store data in data structure such that I can store multiple data types and I can change data when needed.


#  "Amit Kumar", 21, "D", 2.50, False, "2021-10-07","amit@example.com", 25480, "India"
# 1.Data to be ordered and not random
# 2. Multiple data types
# 3. If I want to change phone number in future, I must be able to change

### List

* A list in Python is an ordered collection of values. Lists can hold values of different data types, and support operations to add, remove and change values. Lists have the type `list`.

* To create a list, enclose a list of values within square brackets `[]`, separated by commas.
* **List items are ordered, changeable, and allow duplicate values.**

In [ ]:
#1 Module -- Creating a list

In [3]:
# ordered and duplicate
age = [20,21,23,21,24,19,20,18,19]
age

[20, 21, 23, 21, 24, 19, 20, 18, 19]

In [6]:
age = list([20,21,23,21,24,19,20,18,19])
age

[20, 21, 23, 21, 24, 19, 20, 18, 19]

In [4]:
student_one = ["Amit Kumar", 21, "D", 2.50, False, "2021-10-07","amit@example.com", 25480, "India"]
student_one

['Amit Kumar',
 21,
 'D',
 2.5,
 False,
 '2021-10-07',
 'amit@example.com',
 25480,
 'India']

In [7]:
student_one = list(["Amit Kumar", 21, "D", 2.50, False, "2021-10-07","amit@example.com", 25480, "India"])
student_one

['Amit Kumar',
 21,
 'D',
 2.5,
 False,
 '2021-10-07',
 'amit@example.com',
 25480,
 'India']

In [5]:
len(student_one)

9

#### Indexing list

In [8]:
student_one

['Amit Kumar',
 21,
 'D',
 2.5,
 False,
 '2021-10-07',
 'amit@example.com',
 25480,
 'India']

In [10]:
print(student_one[0])  # prints 1st element

Amit Kumar

In [11]:
print(student_one[-1])  # prints last element

India

In [12]:
print(student_one[0:4])  # prints range of values

['Amit Kumar', 21, 'D', 2.5]

In [13]:
print(student_one[:])  # prints all elements

['Amit Kumar', 21, 'D', 2.5, False, '2021-10-07', 'amit@example.com', 25480, 'India']

In [14]:
print(student_one[2:]) #prints all elements after second element

['D', 2.5, False, '2021-10-07', 'amit@example.com', 25480, 'India']

In [15]:
student_two = ["Rajesh Singh", 20, "B", 3.20, True, "2022-10-25", "rajesh@example.com", 257067, "India"]
student_two

['Rajesh Singh',
 20,
 'B',
 3.2,
 True,
 '2022-10-25',
 'rajesh@example.com',
 257067,
 'India']

In [13]:
# List in list

In [16]:
combined_list = [student_one, student_two]

In [17]:
combined_list

[['Amit Kumar',
  21,
  'D',
  2.5,
  False,
  '2021-10-07',
  'amit@example.com',
  25480,
  'India'],
 ['Rajesh Singh',
  20,
  'B',
  3.2,
  True,
  '2022-10-25',
  'rajesh@example.com',
  257067,
  'India']]

In [18]:
len(combined_list)

2

In [19]:
combined_list[0]

['Amit Kumar',
 21,
 'D',
 2.5,
 False,
 '2021-10-07',
 'amit@example.com',
 25480,
 'India']

In [20]:
combined_list[1]

['Rajesh Singh',
 20,
 'B',
 3.2,
 True,
 '2022-10-25',
 'rajesh@example.com',
 257067,
 'India']

In [21]:
#Access the members of inside list
combined_list[0][0]

'Amit Kumar'

In [22]:
combined_list[0][-1]

'India'

In [23]:
combined_list[1][3]

3.2

In [47]:
# Changing
ones = [1,1,10,1,1]
ones[2] = 99

In [48]:
ones

[1, 1, 99, 1, 1]

In [49]:
ones[-1] = "Last element"

In [50]:
ones

[1, 1, 99, 1, 'Last element']

#### Methods of List
* *Any data type method can be used as data_type.method()*

In [ ]:
# Method	Description
# append()	Adds an element at the end of the list
# clear()	Removes all the elements from the list
# copy()	Returns a copy of the list
# count()	Returns the number of elements with the specified value
# extend()	Add the elements of a list (or any iterable), to the end of the current list
# index()	Returns the index of the first element with the specified value
# insert()	Adds an element at the specified position
# pop()	Removes the element at the specified position
# remove()	Removes the first item with the specified value
# reverse()	Reverses the order of the list
# sort()	Sorts the list

In [25]:
student_one

['Amit Kumar',
 21,
 'D',
 2.5,
 False,
 '2021-10-07',
 'amit@example.com',
 25480,
 'India']

In [29]:
student_one.append('Hello')
student_one

['Amit Kumar',
 21,
 'D',
 2.5,
 False,
 '2021-10-07',
 'amit@example.com',
 25480,
 'India',
 'Hello',
 'Hello']

In [27]:
copy = student_one.copy()
copy

['Amit Kumar',
 21,
 'D',
 2.5,
 False,
 '2021-10-07',
 'amit@example.com',
 25480,
 'India',
 'Hello']

In [30]:
student_one.count("Hello")

2

In [33]:
student_one.count(100)

0

In [38]:
student_one.insert(-1,"last_element")

In [39]:
student_one

['Amit Kumar',
 21,
 'D',
 2.5,
 False,
 '2021-10-07',
 'amit@example.com',
 25480,
 'India',
 'Hello',
 'last_element',
 'last_element',
 'last_element',
 'Hello']

In [41]:
student_one.pop()

'Hello'

In [42]:
student_one

['Amit Kumar',
 21,
 'D',
 2.5,
 False,
 '2021-10-07',
 'amit@example.com',
 25480,
 'India',
 'Hello',
 'last_element',
 'last_element',
 'last_element']

In [ ]:
#Important methods. These might take few lines of code in other programming languages.

In [43]:
student_one.reverse()

In [45]:
student_one

['last_element',
 'last_element',
 'last_element',
 'Hello',
 'India',
 25480,
 'amit@example.com',
 '2021-10-07',
 False,
 2.5,
 'D',
 21,
 'Amit Kumar']

In [44]:
#Sort
l = [25,1,89,2,-1,24]

In [46]:
l.sort()
l

[-1, 1, 2, 24, 25, 89]

### Exercises

In [ ]:
# Reverse the order of elements in a list

In [ ]:
# Add the elements of one list to the end of another list

In [ ]:
# Sort a list of strings in alphabetical order

In [ ]:
# Sort a list of numbers in decreasing order

In [ ]:
# I want a data structure which takes less memory than list and no one is able to change the content


# 1. Less memory and stores only one type of data
# 2. ordered
# 3. Non changeble

# Tuples
* Tuples are used to store multiple items in a single variable.

* **A tuple is a collection which is ordered and unchangeable.**

* Tuples are written with round brackets.

In [62]:
students_gpa = (3.2, 3.1,4, 3.1, 4.4)
print(students_gpa)

(3.2, 3.1, 4, 3.1, 4.4)

In [63]:
len(students_gpa)

5

In [64]:
print(students_gpa[0])  # prints 1st element

3.2

In [65]:
print(students_gpa[-1])  # prints last element

4.4

In [66]:
print(students_gpa[0:4])  # prints range of values

(3.2, 3.1, 4, 3.1)

In [67]:
print(students_gpa[:])  # prints all elements

(3.2, 3.1, 4, 3.1, 4.4)

In [68]:
# Unchangeble -- No Cheating
students_gpa[0] = 4.9

TypeError: 'tuple' object does not support item assignment

### Tuple Methods
* count()	Returns the number of times a specified value occurs in a tuple
* index()	Searches the tuple for a specified value and returns the position of where it was found

In [70]:
students_gpa.count(3.1)

2

In [71]:
students_gpa.count(4)

1

In [72]:
students_gpa.index(4)

2

In [73]:
students_gpa.index(3.2)

0

In [ ]:
# List and tuples only give one type of information.
# ONE
# e.g lists can give student information but it does not tells what each element represents. 
# student_two = ["Rajesh Singh", 20, "B", 3.20, True, "2022-10-25", "rajesh@example.com", 257067, "India"]

# TWO
# Similarly tuples : students_gpa = (3.2, 3.1,4, 3.1, 4.4)
# We don't know the names of students whose gpa's are in tuple

# I want a data structure that store extra information about the elements and should not allow duplicates
# for e.g "John" is a name and USA is a country

# Dictionary
* Dictionaries are used to store data values in key:value pairs.

* A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [ ]:
# Create a dictionary

In [74]:
# Using curly braces
john = {'name': 'John', 'age': 23, 'country': 'USA', 'is_graduated': False}

print(john)

{'name': 'John', 'age': 23, 'country': 'USA', 'is_graduated': False}

In [78]:
# Using dict() constructor
alice = dict(name='Alice', age=19, country="USA", is_graduated=True)
print(alice)

{'name': 'Alice', 'age': 19, 'country': 'USA', 'is_graduated': True}

In [79]:
# Access the elements of Dict
john['name']

'John'

In [80]:
alice['age']

19

In [83]:
# Duplicates
duplicate_not_allowed = {'name': 'John', 'name':'Bob','age': 21, 'country': 'USA', 'is_graduated': False}

In [84]:
duplicate_not_allowed

{'name': 'Bob', 'age': 21, 'country': 'USA', 'is_graduated': False}

#### Methods

In [ ]:
# clear()	Removes all the elements from the dictionary
# copy()	Returns a copy of the dictionary
# fromkeys()	Returns a dictionary with the specified keys and value
# get()	Returns the value of the specified key
# items()	Returns a list containing a tuple for each key value pair
# keys()	Returns a list containing the dictionary's keys
# pop()	Removes the element with the specified key
# popitem()	Removes the last inserted key-value pair
# setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
# update()	Updates the dictionary with the specified key-value pairs
# values()	Returns a list of all the values in the dictionary

In [85]:
john.get('name')

'John'

In [86]:
john.items()

dict_items([('name', 'John'), ('age', 23), ('country', 'USA'), ('is_graduated', False)])

In [87]:
john.keys()

dict_keys(['name', 'age', 'country', 'is_graduated'])

In [88]:
john.values()

dict_values(['John', 23, 'USA', False])

In [89]:
alice.pop('age')

19

In [90]:
alice

{'name': 'Alice', 'country': 'USA', 'is_graduated': True}

In [ ]:
# The roll numbers and phone numbers are unique and for that I need data structure.

# Sets
* Sets are used to store multiple items in a single variable.

* A set is a collection which is unordered, unchangeable*, and unindexed.

In [94]:
student_id = {"S001","S002","S003","S001"}
print(student_id)

{'S001', 'S003', 'S002'}

In [94]:
st[0]

TypeError: 'set' object is not subscriptable

* You cannot access items in a set by referring to an index or a key.

* But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

* Sets are used to remove duplicates

In [97]:
l = [20,20,20,56,12,48,23]

In [98]:
print(set(l))

{12, 48, 20, 23, 56}

# Exercises


*Practice essential Python data structures—lists, tuples, dictionaries, and sets—with exercises from reputable resources to reinforce your understanding and enhance your programming skills*