# Basic Data Types in Python with Exercises

In [1]:
#### Dataset

students = [
    {"Student ID": "S001", "Name": "Amit Kumar", "Age": 21, "Grade": "D", "GPA": 2.50, "Graduated": False, "Enrollment Date": "2021-10-07", "Email": "amit@example.com", "Phone Number": "254803", "Country": "India"},
    {"Student ID": "S002", "Name": "Rajesh Singh", "Age": 20, "Grade": "B", "GPA": 3.20, "Graduated": True, "Enrollment Date": "2022-10-25", "Email": "rajesh@example.com", "Phone Number": "257067", "Country": "India"},
    {"Student ID": "S003", "Name": "Sunil Joshi", "Age": 23, "Grade": "D", "GPA": 3.16, "Graduated": True, "Enrollment Date": "2021-08-03", "Email": "sunil@example.com", "Phone Number": "251665", "Country": "India"},
    {"Student ID": "S004", "Name": "Bob Brown", "Age": 23, "Grade": "C", "GPA": 3.12, "Graduated": True, "Enrollment Date": "2020-12-08", "Email": "bob@example.com", "Phone Number": "252291", "Country": "US"}
]

### 1. Integer

**Integers** are whole numbers without a fractional component.

**Example**: The ages of students.

In [2]:
age_amit = 21
age_rajesh = 20
print(age_amit)  # Output: 21
print(age_rajesh)  # Output: 20

21
20

**Exercise**: Print the ages of Sunil and Bob.

In [3]:
age_sunil = 23
age_bob = 23
print(age_sunil)
print(age_bob)

23
23

### 2. Float

**Floats** are numbers with a decimal point.
**Example**: The GPAs of students.

In [4]:
gpa_amit = 2.50
gpa_rajesh = 3.20
print(gpa_amit)  # Output: 2.50
print(gpa_rajesh)  # Output: 3.20

2.5
3.2

**Exercise**: Print the GPAs of Sunil and Bob.

In [5]:
gpa_sunil = 3.16
gpa_bob = 3.12
print(gpa_sunil)
print(gpa_bob)

3.16
3.12

### 3. Boolean

**Booleans** represent True or False values.

**Example**: Whether students have graduated.

In [6]:
graduated_amit = False
graduated_rajesh = True
print(graduated_amit)  # Output: False
print(graduated_rajesh)  # Output: True

False
True

**Exercise**: Print whether Sunil and Bob have graduated.

In [7]:
graduated_sunil = True
graduated_bob = True
print(graduated_sunil)
print(graduated_bob)

True
True

### 4. None

**None** represents the absence of a value.

**Example**: A placeholder for a student's middle name that is currently unknown.

In [8]:
middle_name_amit = None
print(middle_name_amit)  # Output: None

None

**Exercise**: Create a None placeholder for a variable called `middle_name_rajesh` and print it.

In [9]:
middle_name_rajesh = None
print(middle_name_rajesh)

None

### 5. String and Its Methods

**Strings** are sequences of characters used to represent text.

**Example**: Names and emails of students.

In [10]:
name_amit = "Amit Kumar"
email_amit = "amit@example.com"
print(name_amit)  # Output: Amit Kumar
print(email_amit)  # Output: amit@example.com

Amit Kumar
amit@example.com

**String Methods**:
- **`upper()`**: Converts a string to uppercase.
- **`lower()`**: Converts a string to lowercase.
- **`title()`**: Converts the first character of each word to uppercase.
- **`replace(old, new)`**: Replaces all occurrences of a substring.

**Example**: Using string methods.

In [11]:
print(name_amit.upper())  # Output: AMIT KUMAR
print(name_amit.lower())  # Output: amit kumar
print(name_amit.title())  # Output: Amit Kumar
print(email_amit.replace("example", "test"))  # Output: amit@test.com

AMIT KUMAR
amit kumar
Amit Kumar
amit@test.com

**Exercise**: Use string methods on Rajesh's name and email.

In [12]:
name_rajesh = "Rajesh Singh"
email_rajesh = "rajesh@example.com"
print(name_rajesh.upper())
print(name_rajesh.lower())
print(name_rajesh.title())
print(email_rajesh.replace("example", "test"))

RAJESH SINGH
rajesh singh
Rajesh Singh
rajesh@test.com

### 6. Type Casting

**Type casting** converts one data type to another.

**Example**: Convert age to string and GPA to integer.

In [13]:
age_amit = 21
gpa_amit = 2.50
print(str(age_amit))  # Output: '21'
print(int(gpa_amit))  # Output: 2

21
2

**Exercise**: Convert Sunil's age to string and GPA to integer, then print them.

In [14]:
age_sunil = 23
gpa_sunil = 3.16
print(str(age_sunil))
print(int(gpa_sunil))

23
3

### Summary

This tutorial covered basic data types in Python and their usage with the student dataset. The exercises provided will help you practice:
- **Integers**
- **Floats**
- **Booleans**
- **None**
- **Strings and String Methods**
- **Type Casting**

By understanding these concepts, you'll be able to handle various types of data and perform operations on them effectively.