# Practice Problems for Conditionals and Loops

**Introduction**: Conditionals allow you to execute code based on certain conditions.
**Example**: Check if a student's GPA is greater than 3.0.

In [1]:
gpa = 3.20
if gpa > 3.0:
    print("The GPA is above 3.0.")
else:
    print("The GPA is 3.0 or below.")

The GPA is above 3.0.

**Problem 1**: Check if a student has graduated and print a corresponding message.

In [2]:
graduated = True
if graduated:
    print("The student has graduated.")
else:
    print("The student has not graduated.")

The student has graduated.

**Problem 2**: Check if a student's age is 21 or older.

In [3]:
age = 20
if age >= 21:
    print("The student is 21 or older.")
else:
    print("The student is younger than 21.")

The student is younger than 21.

**Problem 3**: Check if a student's country is "India".

In [4]:
country = "US"
if country == "India":
    print("The student is from India.")
else:
    print("The student is not from India.")

The student is not from India.

**Problem 4**: Check if a student's name contains the letter 'A'.

In [5]:
name = "Amit Kumar"
if 'A' in name:
    print("The student's name contains the letter 'A'.")
else:
    print("The student's name does not contain the letter 'A'.")

The student's name contains the letter 'A'.

**Problem 5**: Check if the student's GPA is between 3.0 and 4.0 (inclusive).

In [6]:
gpa = 2.50
if 3.0 <= gpa <= 4.0:
    print("The GPA is between 3.0 and 4.0.")
else:
    print("The GPA is not between 3.0 and 4.0.")

The GPA is not between 3.0 and 4.0.

#### 2. Loops

**Introduction**: Loops allow you to execute a block of code multiple times.

**Example**: Print each student's name in a list.

In [7]:
student_names = ["Amit Kumar", "Rajesh Singh", "Sunil Joshi", "Bob Brown"]
for name in student_names:
    print(name)

Amit Kumar
Rajesh Singh
Sunil Joshi
Bob Brown

**Problem 1**: Print each student's GPA in a list.

In [8]:
gpas = [2.50, 3.20, 3.16, 3.12]
for gpa in gpas:
    print(gpa)

2.5
3.2
3.16
3.12

**Problem 2**: Print each key-value pair in a student's dictionary.

In [9]:
student_dict = {
    "Student ID": "S001",
    "Name": "Amit Kumar",
    "Age": 21,
    "Grade": "D",
    "GPA": 2.50,
    "Graduated": False,
    "Enrollment Date": "2021-10-07",
    "Email": "amit@example.com",
    "Phone Number": "254803",
    "Country": "India"
}
for key, value in student_dict.items():
    print(key, ":", value)

Student ID : S001
Name : Amit Kumar
Age : 21
Grade : D
GPA : 2.5
Graduated : False
Enrollment Date : 2021-10-07
Email : amit@example.com
Phone Number : 254803
Country : India

**Problem 3**: Print the index and value of each item in a list of grades.

In [10]:
grades = ["D", "B", "D", "C"]
for index, grade in enumerate(grades):
    print("Index:", index, "Grade:", grade)

Index: 0 Grade: D
Index: 1 Grade: B
Index: 2 Grade: D
Index: 3 Grade: C

**Problem 4**: Print each character in a student's email address.

In [11]:
email = "amit@example.com"
for char in email:
    print(char)

a
m
i
t
@
e
x
a
m
p
l
e
.
c
o
m

**Problem 5**: Sum the ages of all students in a list and print the total.

In [12]:
ages = [21, 20, 23, 23]
total_age = 0
for age in ages:
    total_age += age
print("Total age:", total_age)

Total age: 87

**Problem 6**: Print all students' names until you encounter a specific name.

In [13]:
student_names = ["Amit Kumar", "Rajesh Singh", "Sunil Joshi", "Bob Brown"]
for name in student_names:
    if name == "Sunil Joshi":
        break
    print(name)

Amit Kumar
Rajesh Singh

**Problem 7**: Print the square of each student's age.

In [14]:
ages = [21, 20, 23, 23]
for age in ages:
    print("Square of age:", age ** 2)

Square of age: 441
Square of age: 400
Square of age: 529
Square of age: 529

**Problem 8**: Print each student's name if they are from "India".

In [15]:
students = [
    {"Name": "Amit Kumar", "Country": "India"},
    {"Name": "Rajesh Singh", "Country": "India"},
    {"Name": "Sunil Joshi", "Country": "India"},
    {"Name": "Bob Brown", "Country": "US"}
]
for student in students:
    if student["Country"] == "India":
        print(student["Name"])

Amit Kumar
Rajesh Singh
Sunil Joshi